/edxxex0females_upp.pdf
/edxxex0males_upp.pdf
/edxxex10females_upp.pdf
/edxxex10males_upp.pdf
/edxxex15females_upp.pdf
/edxxex15males_upp.pdf
/exxedx0females_highlowGPI_upp.pdf
/exxedx0males_highlowGPI_upp.pdf
/exxedx10females_highlowGPI_upp.pdf
/exxedx10males_highlowGPI_upp.pdf
/exxedx15females_highlowGPI_upp.pdf
/exxedx15males_highlowGPI_upp.pdf
/exxsdx0females_highlowGPI_upp.pdf
/exxsdx0males_highlowGPI_upp.pdf
/exxsdx10females_highlowGPI_upp.pdf
/exxsdx10males_highlowGPI_upp.pdf
/exxsdx15females_highlowGPI_upp.pdf
/exxsdx15males_highlowGPI_upp.pdf
/GPIxedx_0females_upp.pdf
/GPIxedx_0males_upp.pdf
/GPIxedx_10females_upp.pdf
/GPIxedx_10males_upp.pdf
/GPIxedx_15females_upp.pdf
/GPIxedx_15males_upp.pdf
/GPIxex0females_upp.pdf
/GPIxex0males_upp.pdf
/GPIxex10females_upp.pdf
/GPIxex10males_upp.pdf
/GPIxex15females_upp.pdf
/GPIxex15males_upp.pdf
/GPIxsdx_0females_upp.pdf
/GPIxsdx_0males_upp.pdf
/GPIxsdx_10females_upp.pdf
/GPIxsdx_10males_upp.pdf
/GPIxsdx_15females_upp.pdf
/GPIxsdx_15males_upp.pdf
/sdxxex0females_upp.pdf
/sdxxex0males_upp.pdf
/sdxxex10females_upp.pdf
/sdxxex10males_upp.pdf
/sdxxex15females_upp.pdf
/sdxxex15males_upp.pdf
