/Diagnostic_GBDlow_females_pclm.pdf
/Diagnostic_GBDlowmales_pclm.pdf
/Diagnostic_GBDmid_females_pclm.pdf
/Diagnostic_GBDmidmales_pclm.pdf
/Diagnostic_GBDupp_females_pclm.pdf
/Diagnostic_GBDuppmales_pclm.pdf
/Diagnostic_pclm_males.pdf
