/edxxex0females_mid.pdf
/edxxex0males_mid.pdf
/edxxex10females_mid.pdf
/edxxex10males_mid.pdf
/edxxex15females_mid.pdf
/edxxex15males_mid.pdf
/exxedx0females_highlowGPI_mid.pdf
/exxedx0males_highlowGPI_mid.pdf
/exxedx10females_highlowGPI_mid.pdf
/exxedx10males_highlowGPI_mid.pdf
/exxedx15females_highlowGPI_mid.pdf
/exxedx15males_highlowGPI_mid.pdf
/exxsdx0females_highlowGPI_mid.pdf
/exxsdx0males_highlowGPI_mid.pdf
/exxsdx10females_highlowGPI_mid.pdf
/exxsdx10males_highlowGPI_mid.pdf
/exxsdx15females_highlowGPI_mid.pdf
/exxsdx15males_highlowGPI_mid.pdf
/GPIxedx_0females_mid.pdf
/GPIxedx_0males_mid.pdf
/GPIxedx_10females_mid.pdf
/GPIxedx_10males_mid.pdf
/GPIxedx_15females_mid.pdf
/GPIxedx_15males_mid.pdf
/GPIxex0females_mid.pdf
/GPIxex0males_mid.pdf
/GPIxex10females_mid.pdf
/GPIxex10males_mid.pdf
/GPIxex15females_mid.pdf
/GPIxex15males_mid.pdf
/GPIxsdx_0females_mid.pdf
/GPIxsdx_0males_mid.pdf
/GPIxsdx_10females_mid.pdf
/GPIxsdx_10males_mid.pdf
/GPIxsdx_15females_mid.pdf
/GPIxsdx_15males_mid.pdf
/sdxxex0females_mid.pdf
/sdxxex0males_mid.pdf
/sdxxex10females_mid.pdf
/sdxxex10males_mid.pdf
/sdxxex15females_mid.pdf
/sdxxex15males_mid.pdf
