/Diagnostic_GBDlow_females_ggompertz_65_90_65.pdf
/Diagnostic_GBDlow_males_ggompertz_65_90_65.pdf
/Diagnostic_GBDmid_females_ggompertz_65_90_65.pdf
/Diagnostic_GBDmid_males_ggompertz_65_90_65.pdf
/Diagnostic_GBDupp_females_ggompertz_65_90_65.pdf
/Diagnostic_GBDupp_males_ggompertz_65_90_65.pdf
